textarea {
    resize: none;
}
.home-container {
    /* background-color: #fff; */
}
.main-activity-container,
.find-friends-container {
    background-color: #fff;
    padding: 15px;
}

.posts-container {
    background-color: #efefef;
    padding: 15px;
    margin-bottom: 15px;
}

.default-dp {
    width: 30px;
}

.default-dp-msg {
    width: 20px;
}

h6 {
    font-weight: bold;
}
